/* Login.css */
.login-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
    border-bottom: 8px solid #db0000;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2.5em;
    color: #2c3e50;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

button {
    background-color: #218f21;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0a6913;
}

.error-message {
    color: #e74c3c;
    font-size: 1.1em;
    margin-top: 10px;
}

p {
    font-size: 1.1em;
    margin-top: 20px;
}

a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #05314e;
}